<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shoe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shoe.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @shoe.company.try(:name) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shoe.category.try(:name) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shoe.price %> $ 
</p>

<p>
  <strong>Image:</strong></br>
  <img src= <%= @shoe.image_url %> height=250 width=250 />
</p>
<h3><i>Comments</i></h3>

<% @all_comments.each do |comment| %>
  <% unless comment.new_record? %>
  <ul>
    <li><i><%= comment.user.try(:email) %></i> : <%= comment.comment %></li>
  </ul>
  <% end %>
<% end %>

<%= form_for(@create_comment) do |f| %>
  <%= f.text_area :comment%>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  </br>
  <%= f.submit %>
<% end %>
</br>
<%= form_tag send_mail_path(@shoe),method: :get do %>
  <%= label_tag 'Share this shoes to your friends : '%>
  <%= text_field_tag :email %>
  <%= submit_tag 'Send'%>
<% end %>

</br>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<% end %>
<%= link_to 'Back', shoes_path %>
