<h1>Listing shoes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Company</th>
      <th>Category</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% shoes.each do |shoe| %>
      <tr>
        <td><%= shoe.name %></td>
        <td><%= shoe.description %></td>
        <td><%= shoe.price %>$</td>
        <td><%= shoe.company.try(:name) %></td>
        <td><%= shoe.category.try(:name) %></td>
        <td><img src=<%= shoe.image_url %> height=50 width=50 /></td>
        <td><%= link_to 'Show', shoe %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_shoe_path(shoe) %></td>
        <td><%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if current_user.admin? %>
<%= link_to 'New Shoe', new_shoe_path %>
<% end %>
<%= will_paginate shoes %>